.mylabel{
  font-size: 15px !important;
  line-height: 30px;
  height: 30px;
  padding-right: 10px;
}

#todo-list li {
  padding: 0px;
  position: relative;
  border-bottom: 1px dotted #ccc;
}

#todo-list li .toggle {
  text-align: center;
  width: 40px;
  height 100%;
  font-size: 20px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  line-height: 40px;
}

#todo-list li .toggle:after {
  content: '✔';
  line-height: 49px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

#todo-list li label {
  white-space: pre;
  word-break: break-word;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

#todo-list li.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}

#todo-list li .destroy {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  background: none;
}



#todo-list li .destroy:after {
  content: '✖';
}


#todo-list li .edit {
  display: none;
}

#todo-list li.editing:last-child {
  margin-bottom: -1px;
}