
[data-molecule-div] [data-atom-text]{
  width: 48% !important;
  float: left;
  margin-top: .5rem;
  padding-left: 2%
}

[data-molecule-form="creditcard"] [data-atom-input]:nth-child(3) {
  width: 20% !important;
  margin-right: 5% !important;
  float: left;
}

[data-molecule-form="creditcard"] [data-atom-input]:nth-child(4) {
  width: 35% !important;
  float: left;
  margin-right: 5% !important;
}

[data-molecule-form="creditcard"] [data-atom-input]:nth-child(5) {
  width: 30% !important;
  float: left;
}